[project]
name = "aura-app"
version = "1.0.1"
author = {name = "Dimitri Gaggioli", email = "dimitri.gaggioli@gmail.com"}
description = "A Django app to manage your art collection"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "django>=6.0",
    "djangorestframework>=3.16.1",
    "django-environ>=0.12.0",
    "psycopg>=3.3.2",
    "python-dotenv>=1.2.1",
    "sphinx>=9.0.4",
    "shibuya>=2025.11.10",
]
