{% extends 'base.html' %}

{% block content %}
<div class="hero-section bg-primary text-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <p class="display-4">Bienvenue<br>sur</p>
                <h1 class="display-4 mb-4">Aura</h1>
                <div class="d-flex gap-3">
                    <a href="{% url 'accounts:register' %}" class="btn btn-light btn-lg">
                        <i class="bi bi-person-plus"></i> S'inscrire
                    </a>
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-dark btn-lg">
                        <i class="bi bi-box-arrow-in-right"></i> Se connecter
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="text-start">
                    <i class="bi bi-palette display-1"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <p class="col-1g-12 text-center">Ici, tu peux...</p>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="bi bi-collection text-secondary display-4 mb-3"></i>
                    <h5 class="card-title">Gérer ta collection</h5>
                    <p class="card-text">
                        Répertoriez toutes tes œuvres avec leurs détails complets : artiste, 
                        dimensions, provenance, localisation actuelle...
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="bi bi-search text-secondary display-4 mb-3"></i>
                    <h5 class="card-title">Rechercher une œuvre</h5>
                    <p class="card-text">
                        Trouvez rapidement n'importe quelle œuvre grâce à notre système 
                        de recherche et de filtrage sophistiqué.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <i class="bi bi-file-earmark-pdf text-secondary display-4 mb-3"></i>
                    <h5 class="card-title">Exporter des fiches</h5>
                    <p class="card-text">
                        Exportez les fiches de tes œuvres en PDF ou HTML pour tes 
                        assurances, expositions ou ventes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
