{% extends 'base.html' %}

{% block title %}{{ title|default:"Liste" }} - {{ app_name|default:"Aura" }}{% endblock %}

{% block content %}
<div class="container py-4">
    {% block list_header %}
        {% include 'includes/page_header.html' with title=title back_url=back_url back_text=back_text %}
    {% endblock %}
    
    {% if filter_form %}
        <div class="card mb-4">
            <div class="card-body">
                <form method="get" class="row g-3">
                    {% for field in filter_form %}
                        <div class="col-md-{{ field.field.widget.attrs.col_size|default:'3' }}">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="col-md-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i> Filtrer
                        </button>
                    </div>
                    <div class="col-md-1 d-flex align-items-end">
                        <a href="{{ reset_url|default:request.path }}" class="btn btn-outline-secondary">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    
    {% block search_form %}{% endblock %}
    
    {% block list_content %}
        {% if object_list %}
            <div class="row">
                {% for object in object_list %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        {% include item_template with object=object %}
                    </div>
                {% endfor %}
            </div>
            
            {% include 'includes/pagination.html' with page_obj=page_obj %}
        {% else %}
            {% include 'includes/empty_state.html' with icon=empty_icon title=empty_title message=empty_message action_url=action_url action_text=action_text %}
        {% endif %}
    {% endblock %}
</div>
{% endblock %}
